.content {
    will-change: transform;
}
.copy {
    position: absolute;
    bottom: calc(var(--index) * 2.5);
    opacity: .45;
    font-size: calc(var(--index) * .75);
    letter-spacing: calc(var(--index) / 37.5);
}

.container{
    background-image: url("../../../../data/img/lower.jpeg");
    background-size: cover; /* масштабирует изображение, чтобы заполнить контейнер */
    background-repeat: no-repeat; /* предотвращает повторение изображения */
    background-position: center;
    min-height: 103vh;

    --third_container-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    /* Update: */
    top: -1px;
    /*z-index: 10;*/
    font-family: raleway;
}


.header {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    transform: var(--second_container-transform);
    transition: var(--transition);
    will-change: transform;
}
.paragraph {
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--second_container-transform);
    transition: var(--transition);
    will-change: transform;
}

.section {
    min-height: 100vh; /* Каждая секция занимает полный экран */
}