body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --dl-size-tripleunit: 3rem;
  --dl-size-fiveunit: 5rem;
  --dl-size-doubleunit: 2rem;
  --dl-size-unit: 1rem;
  --dl-border-radius-medium: 24px;
  --dl-color-background: #8A8278;
  --dl-color-font: #1D1A07S;
  --index:calc(1vw + 1vh);
  /*--dl-color-gray-500: #595959;*/
  /*--dl-color-gray-700: #999999;*/
  /*--dl-color-gray-900: #D9D9D9;*/
  /*--dl-size-size-unit: 1rem;*/
  /*--dl-color-gray-black: #000000;*/
  /*--dl-color-gray-white: #FFFFFF;*/
  /*--dl-space-space-unit: 1em;*/
  /*--dl-color-primary-100: #370511ff;*/
  /*--dl-color-primary-500: #643843ff;*/
  /*--dl-color-primary-700: #775860ff;*/
  /*--dl-color-primary-blue: #707cc4ff;*/
  /*--dl-color-primary-gray: #e4e4e4ff;*/
  /*--dl-size-size-halfunit: 0.5rem;*/
  /*--dl-color-theme-accent1: #F3E8E2;*/
  /*--dl-color-theme-accent2: #D8BFAF;*/
  /*--dl-radius-radius-round: 50%;*/
  /*--dl-color-theme-primary1: #5f5db9;*/
  /*--dl-color-theme-primary2: #4f776b;*/
  /*--dl-size-size-doubleunit: 2rem;*/
  /*--dl-size-size-tripleunit: 3rem;*/
  /*--dl-space-space-halfunit: 0.5em;*/
  /*--dl-radius-radius-radius2: 2px;*/
  /*--dl-radius-radius-radius4: 4px;*/
  /*--dl-radius-radius-radius8: 8px;*/
  /*--dl-space-space-quadruple: 4em;*/
  /*--dl-color-theme-secondary1: #F3E8E2;*/
  /*--dl-color-theme-secondary2: #E0D1CB;*/
  /*--dl-space-space-doubleunit: 2em;*/
  /*--dl-space-space-tripleunit: 3em;*/
  /*--dl-color-primary-darkgreen: #3d5547ff;*/
  /*--dl-color-theme-neutral-dark: #191818;*/
  /*--dl-radius-radius-cardradius: 8px;*/
  /*--dl-color-theme-neutral-light: #FBFAF9;*/
  /*--dl-radius-radius-imageradius: 8px;*/
  /*--dl-radius-radius-inputradius: 24px;*/
  /*--dl-radius-radius-buttonradius: 24px;*/
}

.delimeter{
  width:100%;
  height: 1px;
  opacity: 0.5;
  margin-bottom: 1.3em;
  margin-top: 1em;
  background-image: linear-gradient(0deg, rgba(213, 188, 188, 0.16), rgba(94, 51, 51, 0.84) 50%, rgba(0,0,0,0)),  linear-gradient(0deg, rgba(234, 200, 200, 0.23), rgba(255,255,255,0.25) 50%, rgba(255,255,255,0.25));
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 100%, 50% 100%;
  background-size: 100% 1px, 100% 1px;
  background-origin: padding-box, border-box;
}